.left__component {
  padding: 30px 30px 40px 0;
  display: flex;
  flex-direction: column;
  width: 160px;
  overflow-y: hidden;
  &:hover {
    overflow: scroll;
  }
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
  }
}
