.navigate {
  &__top {
    display: flex;
    justify-content: space-between;
    padding-right: 75px;
    align-items: center;
    margin-bottom: 30px;

    &-boxes {
      display: flex;
      align-items: center;
    }

    &-avatar {
      margin-right: 20px;
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 26px;
    margin-right: 19px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;

    color: #c2c2c2;
  }
}
