.middle__left {
  display: flex;
  max-width: 900px;
  height: 210px;
  margin-right: 30px;
  &-video {
    width: 410px;
    height: 210px;
    border-radius: 14px;
    margin-right: 32px;
  }
  &-info {
    max-width: 500px;
  }
}

.middle__video {
  &-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    margin: 0 0 10px;
  }
  &-comment {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  &-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #c2c2c2;
  }
}
.channel {
  &__list {
    display: flex;
    align-items: center;
    margin-bottom: 54px;
  }
  &__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    &:not(:last-child) {
      margin-right: 70px;
    }
    &.selected {
      color: #ff0000;
      font-weight: 700;
      padding-bottom: 3px;
      border-bottom: 2px solid #ff0000;
    }
  }
}
